# An치lisis de Tablas en PDF de P치ginas Web

Estudiaremos c칩mo descargar tablas que encontramos en archivos pdfs de p치ginas web.

In [8]:
#import os
#os.chdir('D:\\Webscraping\\Python')
#os.getcwd()
url='https://becas.osinergmin.gob.pe/seccion/centro_documental/hidrocarburos/SCOP/SCOP-DOCS/2022/01-Demanda-Nacional-Combustibles-Liquidos-Enero-2022.pdf'

In [9]:
from tabula import read_pdf #https://tabula-py.readthedocs.io/en/latest/
df0=read_pdf(url, pages=1, output_format="dataframe") 
df0

[       Unnamed: 0        Gas  Unnamed: 2 Gasolina Gasolina.1 Gasolina.2  \
 0    DEPARTAMENTO        NaN         NaN      NaN        NaN        NaN
 1             NaN  100LL (*)         NaN       84         90         95
 2        AMAZONAS          0         NaN    3,439     20,347      2,560
 3          ANCASH          0         NaN      NaN        NaN        NaN
 4        APURIMAC          0         NaN      NaN        NaN        NaN
 5        AREQUIPA          0         NaN      NaN        NaN        NaN
 6        AYACUCHO          0         NaN      NaN        NaN        NaN
 7       CAJAMARCA          0         NaN      NaN        NaN        NaN
 8           CUSCO          0         NaN      NaN        NaN        NaN
 9    HUANCAVELICA          0         NaN      NaN        NaN        NaN
 10        HUANUCO          0         NaN      NaN        NaN        NaN
 11            ICA          0         NaN      NaN        NaN        NaN
 12          JUNIN          0         NaN      NaN        NaN        NaN
 13    LA LIBERTAD          0         NaN      NaN        NaN        NaN
 14     LAMBAYEQUE          0         NaN      NaN        NaN        NaN
 15           LIMA         48         NaN        0          0          0
 16         LORETO        173         NaN   86,584     24,899        129
 17  MADRE DE DIOS          0         NaN   36,556      3,827      1,226
 18       MOQUEGUA          0         NaN      NaN        NaN        NaN
 19          PASCO          0         NaN      NaN        NaN        NaN
 20          PIURA          0         NaN      NaN        NaN        NaN
 21           PUNO          0         NaN      NaN        NaN        NaN
 22     SAN MARTIN         97         NaN   13,485     52,012      3,371
 23          TACNA          0         NaN      NaN        NaN        NaN
 24         TUMBES          0         NaN      NaN        NaN        NaN
 25        UCAYALI         97         NaN      NaN     86,245        710
 26          TOTAL        415         NaN  140,065    187,330      7,995
 27     TOTAL MBPD       0.01         NaN     3.33       4.46       0.19

     Gasolina.3  Unnamed: 7      Total Gasohol 84  ... Unnamed: 19 Unnamed: 20  \
 0          NaN         NaN        NaN        NaN  ...         NaN    DB5 S-50
 1        97.00         NaN  Gasolinas       Plus  ...         NaN         NaN
 2          NaN         NaN     26,346        155  ...         NaN      27,917
 3          NaN         NaN          0         81  ...         NaN     334,629
 4          NaN         NaN          0         32  ...         NaN     211,141
 5          NaN         NaN          0        687  ...         NaN     601,953
 6          NaN         NaN          0        344  ...         NaN      75,010
 7          NaN         NaN          0      5,404  ...         NaN     147,205
 8          NaN         NaN          0      2,200  ...         NaN     281,040
 9          NaN         NaN          0         16  ...         NaN      15,123
 10         NaN         NaN          0        NaN  ...         NaN      41,542
 11         NaN         NaN          0      2,295  ...         NaN     262,205
 12         NaN         NaN          0      1,252  ...         NaN     194,764
 13         NaN         NaN          0      3,153  ...         NaN     321,383
 14         NaN         NaN          0     12,829  ...         NaN     140,952
 15        0.00         NaN          0        919  ...         NaN   1,231,355
 16         NaN         NaN    111,612        NaN  ...         NaN          13
 17         NaN         NaN     41,609        NaN  ...         NaN     211,544
 18         NaN         NaN          0        323  ...         NaN     477,495
 19         NaN         NaN          0        360  ...         NaN      50,520
 20         NaN         NaN          0     14,820  ...         NaN     228,222
 21         NaN         NaN          0     26,247  ...         NaN     155,441
 22      410.00         NaN     69,278         65  ...         NaN      54,210
 23         NaN         NaN          0        380  ...         NaN      62,032
 24         NaN         NaN          0      5,360  ...         NaN       8,451
 25         NaN         NaN     86,955        NaN  ...         NaN          97
 26      410.00         NaN    335,800     76,921  ...         NaN   5,134,244
 27        0.01         NaN       8.00       1.83  ...         NaN      122.24

    Pet Ind Pet Ind.1 Pet Ind.2 Unnamed: 24    Diesel  Unnamed: 26 Unnamed: 27  \
 0      NaN       NaN       NaN         NaN       NaN          IFO         NaN
 1   No 500      No 6      No 5         NaN  MGO(***)          NaN         NaN
 2      NaN       NaN       NaN         NaN       NaN          NaN         NaN
 3      414     3,969       NaN         NaN       NaN          NaN         NaN
 4      NaN       NaN       NaN         NaN       NaN          NaN         NaN
 5   12,674       820       NaN         NaN       NaN          NaN         NaN
 6      NaN       NaN       NaN         NaN       NaN          NaN         NaN
 7      NaN       NaN       NaN         NaN       NaN          NaN         NaN
 8      NaN       NaN       NaN         NaN       NaN          NaN         NaN
 9      NaN       NaN       NaN         NaN       NaN          NaN         NaN
 10     NaN       NaN       NaN         NaN       NaN          NaN         NaN
 11     NaN       NaN       NaN         NaN       NaN          NaN         NaN
 12     NaN       NaN       NaN         NaN       NaN          NaN         NaN
 13     NaN     3,270       NaN         NaN       NaN          NaN         NaN
 14     NaN       NaN       NaN         NaN       NaN          NaN         NaN
 15   3,254     1,522       NaN         NaN     1,081          NaN         NaN
 16     NaN    55,838       NaN         NaN       NaN          NaN         NaN
 17     NaN       NaN       NaN         NaN       NaN          NaN         NaN
 18   2,310     1,370       NaN         NaN       NaN          NaN         NaN
 19     NaN       NaN       NaN         NaN       NaN          NaN         NaN
 20     NaN     2,345       NaN         NaN       NaN          NaN         NaN
 21     NaN       NaN       NaN         NaN       NaN          NaN         NaN
 22     NaN       NaN       NaN         NaN       NaN          NaN         NaN
 23     NaN       NaN       NaN         NaN       NaN          NaN         NaN
 24     NaN       NaN       NaN         NaN       NaN          NaN         NaN
 25     NaN       NaN       NaN         NaN     1,343          NaN         NaN
 26  18,651    69,134         0         NaN     2,424            0         NaN
 27    0.44      1.65      0.00         NaN      0.06         0.00         NaN

     Unnamed: 28
 0         TOTAL
 1           NaN
 2        56,578
 3       396,264
 4       236,509
 5       781,162
 6       118,647
 7       216,291
 8       401,830
 9        27,462
 10       72,869
 11      343,632
 12      277,503
 13      434,681
 14      230,504
 15    2,511,055
 16      255,947
 17      253,153
 18      501,445
 19       68,698
 20      380,089
 21      238,580
 22      128,295
 23       89,752
 24       21,905
 25      183,134
 26    8,225,984
 27       195.86

 [28 rows x 29 columns]]

In [10]:
#https://tabula.technology/
df1=read_pdf(url, pages=1, area=(247, 144,825,2071), output_format="dataframe") 
df1

[     DEPARTAMENTO  Gas\r100LL (*) Gasolina\r84 Gasolina\r90 Gasolina\r95  \
 0        AMAZONAS            0.00        3,439       20,347        2,560
 1          ANCASH            0.00          NaN          NaN          NaN
 2        APURIMAC            0.00          NaN          NaN          NaN
 3        AREQUIPA            0.00          NaN          NaN          NaN
 4        AYACUCHO            0.00          NaN          NaN          NaN
 5       CAJAMARCA            0.00          NaN          NaN          NaN
 6           CUSCO            0.00          NaN          NaN          NaN
 7    HUANCAVELICA            0.00          NaN          NaN          NaN
 8         HUANUCO            0.00          NaN          NaN          NaN
 9             ICA            0.00          NaN          NaN          NaN
 10          JUNIN            0.00          NaN          NaN          NaN
 11    LA LIBERTAD            0.00          NaN          NaN          NaN
 12     LAMBAYEQUE            0.00          NaN          NaN          NaN
 13           LIMA           48.00            0            0            0
 14         LORETO          173.00       86,584       24,899          129
 15  MADRE DE DIOS            0.00       36,556        3,827        1,226
 16       MOQUEGUA            0.00          NaN          NaN          NaN
 17          PASCO            0.00          NaN          NaN          NaN
 18          PIURA            0.00          NaN          NaN          NaN
 19           PUNO            0.00          NaN          NaN          NaN
 20     SAN MARTIN           97.00       13,485       52,012        3,371
 21          TACNA            0.00          NaN          NaN          NaN
 22         TUMBES            0.00          NaN          NaN          NaN
 23        UCAYALI           97.00          NaN       86,245          710
 24          TOTAL          415.00      140,065      187,330        7,995
 25     TOTAL MBPD            0.01         3.33         4.46         0.19

     Gasolina\r97 Total\rGasolinas Gasohol 84\rPlus Gasohol 90\rPlus  \
 0            NaN           26,346              155            1,365
 1            NaN                0               81           30,826
 2            NaN                0               32           18,575
 3            NaN                0              687          115,733
 4            NaN                0              344           32,371
 5            NaN                0            5,404           53,399
 6            NaN                0            2,200           91,289
 7            NaN                0               16            9,983
 8            NaN                0              NaN           20,805
 9            NaN                0            2,295           45,129
 10           NaN                0            1,252           60,803
 11           NaN                0            3,153           69,974
 12           NaN                0           12,829           62,178
 13          0.00                0              919          268,151
 14           NaN          111,612              NaN              NaN
 15           NaN           41,609              NaN              NaN
 16           NaN                0              323            8,155
 17           NaN                0              360           14,856
 18           NaN                0           14,820          115,441
 19           NaN                0           26,247           48,726
 20        410.00           69,278               65            2,629
 21           NaN                0              380           10,765
 22           NaN                0            5,360            6,521
 23           NaN           86,955              NaN              NaN
 24        410.00          335,800           76,921        1,087,674
 25          0.01             8.00             1.83            25.90

    Gasohol 95\rPlus  ... JP 5 Diesel B5   DB5 S-50 Pet Ind\rNo 500  \
 0               258  ...  NaN       NaN     27,917             NaN
 1            22,447  ...  NaN       NaN    334,629             414
 2             6,221  ...  NaN       NaN    211,141             NaN
 3            43,513  ...  NaN       NaN    601,953          12,674
 4            10,420  ...  NaN       NaN     75,010             NaN
 5             9,613  ...  NaN       NaN    147,205             NaN
 6            23,756  ...  NaN       NaN    281,040             NaN
 7             2,227  ...  NaN       NaN     15,123             NaN
 8             7,619  ...  NaN       NaN     41,542             NaN
 9            29,004  ...  NaN       NaN    262,205             NaN
 10           15,199  ...  NaN       NaN    194,764             NaN
 11           31,362  ...  NaN       NaN    321,383             NaN
 12           13,540  ...  NaN       NaN    140,952             NaN
 13          338,601  ...  NaN         0  1,231,355           3,254
 14              NaN  ...  NaN    82,594         13             NaN
 15              NaN  ...  NaN       NaN    211,544             NaN
 16           10,776  ...  NaN       NaN    477,495           2,310
 17            2,564  ...  NaN       NaN     50,520             NaN
 18           16,484  ...  NaN       NaN    228,222             NaN
 19            7,523  ...  NaN       NaN    155,441             NaN
 20              432  ...  NaN       889     54,210             NaN
 21           16,187  ...  NaN       NaN     62,032             NaN
 22            1,573  ...  NaN       NaN      8,451             NaN
 23              385  ...  NaN    93,836         97             NaN
 24          609,704  ...  0.0   177,319  5,134,244          18,651
 25            14.52  ...  0.0      4.22     122.24            0.44

     Pet Ind\rNo 6 Pet Ind\rNo 5 Diesel\rMGO(***)  IFO      TOTAL  Unnamed: 23
 0             NaN           NaN              NaN  NaN     56,578          NaN
 1           3,969           NaN              NaN  NaN    396,264          NaN
 2             NaN           NaN              NaN  NaN    236,509          NaN
 3             820           NaN              NaN  NaN    781,162          NaN
 4             NaN           NaN              NaN  NaN    118,647          NaN
 5             NaN           NaN              NaN  NaN    216,291          NaN
 6             NaN           NaN              NaN  NaN    401,830          NaN
 7             NaN           NaN              NaN  NaN     27,462          NaN
 8             NaN           NaN              NaN  NaN     72,869          NaN
 9             NaN           NaN              NaN  NaN    343,632          NaN
 10            NaN           NaN              NaN  NaN    277,503          NaN
 11          3,270           NaN              NaN  NaN    434,681          NaN
 12            NaN           NaN              NaN  NaN    230,504          NaN
 13          1,522           NaN            1,081  NaN  2,511,055          NaN
 14         55,838           NaN              NaN  NaN    255,947          NaN
 15            NaN           NaN              NaN  NaN    253,153          NaN
 16          1,370           NaN              NaN  NaN    501,445          NaN
 17            NaN           NaN              NaN  NaN     68,698          NaN
 18          2,345           NaN              NaN  NaN    380,089          NaN
 19            NaN           NaN              NaN  NaN    238,580          NaN
 20            NaN           NaN              NaN  NaN    128,295          NaN
 21            NaN           NaN              NaN  NaN     89,752          NaN
 22            NaN           NaN              NaN  NaN     21,905          NaN
 23            NaN           NaN            1,343  NaN    183,134          NaN
 24         69,134           0.0            2,424  0.0  8,225,984          NaN
 25           1.65           0.0             0.06  0.0     195.86          NaN

 [26 rows x 24 columns]]

In [12]:
type(df1[0])

pandas.core.frame.DataFrame

In [13]:
df=df1[0]

In [14]:


df.to_excel('D:\\Webscraping\\Python\\DatosFinal.xlsx', index = True)